$perspective: 2000px;
$scale: 0.75;
$rotationX: 9deg;
$rotationY: -35deg;
$rotationZ: 0;
$steps: 2;
$top: -40px;
$blur-deviation: 0.4;
$color: #222;

body {
    background: linear-gradient(135deg,rgba(0,0,0,0.1),rgba(0,0,0,0.2));
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

@font-face {
    font-family: "北岸硬笔楷书";
    src: url('./北岸硬笔楷书.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "北岸硬笔楷书";
    src: url('./北岸硬笔楷书.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

.realistic {
    -webkit-writing-mode: vertical-rl;
    color: $color;
    font-size: 40px;
    position: absolute;
    top: $top;
    left: -400px;
    opacity: 1/(($steps*2));
    transform-origin: 900px 280px;
    max-width: 1200px;
    transform: scale($scale,$scale) perspective($perspective) rotateY($rotationY) rotateX($rotationX);
    text-shadow: 0 0 3px transparentize($color,0.4), 0 0 1px transparentize($color,0.8);
    text-align: left;
}

p {
    font-family: "北岸硬笔楷书";
    margin: 0 0.5em;
    line-height: 1.2em;
    letter-spacing: 10px;
}
.author {
    font-size: 24px;
    margin: 0 10px 0 40px;
}
h1 {
    margin: 0;
    font-weight:normal;
    font-size:65px;
    text-indent: -20px;
    font-family: "北岸硬笔楷书";
}
$transform: scale($scale, $scale) perspective($perspective);
$step: $blur-deviation / $steps;
@for $i from 1 through $steps {
    $cur: $step * ($i);
    .realistic.blur-top:nth-child(#{$i}) {
        transform: $transform rotateY($rotationY + $cur) rotateX($rotationX + $cur);
    }
    .realistic.blur-bottom:nth-child(#{$i}) {
        transform: $transform rotateY($rotationY - $cur) rotateX($rotationX - $cur);
    }
}
.realistic.blur1 {
    transform: scale($scale, $scale) perspective($perspective) rotateY($rotationY + $blur-deviation) rotateX($rotationX + $blur-deviation);
}

.realistic.blur2 {
    transform: scale($scale, $scale) perspective($perspective) rotateY($rotationY - $blur-deviation) rotateX($rotationX - $blur-deviation);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(transparentize(#eee,0.7),transparentize(#eee,1));
    z-index: 99;
    pointer-events: none;
}